@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:'Poppins',sans-serif;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5rem;
    padding:4%;
}
.navbar{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem -2rem;
    background-color: f7f8fc;
}
.navbar a{
    text-decoration: none;
    font-weight: bold;
    border:2px solid black;
    padding:1rem;
    border-radius:30px;
    background-color: black;
    color:white;
}
.navbar .logo{
    display:flex;
}
.logo a{
    color:black;
    font-size:2rem;
    font-weight:bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border:none;
    background-color: white;
    color:black;
}
.programming_lang{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    gap:2rem;
    width:100%;
}
.box{
    width:25%;
    display:flex;
    flex-direction: column;
    gap:2rem;
    justify-content: center;
    align-items: center;
    padding:10px;
    box-shadow:10px 15px 30px rgb(63, 60, 60);
    border:none;
    border-radius:5px;
}
.box h2,p{
    text-align:center;
}
.box img{
    width:50%;
}
.box button{
    padding:0.7rem 7rem;
    background-color: black;
    color:white;
    font-weight:bolder;
    border:none;
    cursor:pointer;
    border-radius:3rem;
    font-size:1rem;
}
#heading{
    font-size:2.5rem;
    font-family:Rubik, sans-serif;
    font-weight:bolder;
}
.upload_notes{
    /* border:2px solid red; */
    display:grid;
    place-items: center;
    padding:4em 0;
    width:100%;
    gap:3em;
}
.menu_bar,.file_section{
    display:flex;
    /* border:2px solid red; */
    justify-content: center;
    align-items: center;
    gap:4rem;
    padding:0 4em;
}
.menu_bar label , .file_section label{
    font-weight:bolder;
    font-size:1.2rem;
}
.menu_bar select,option{
    padding:0.6em 4em;
    font-size:1em;
    font-weight:600;
    border-radius:5px;
    cursor:pointer;
}
input[type="file"]{
    cursor:pointer;
}
input::file-selector-button{
    padding: 0.5em 3em;
    background-color: black;
    color:white;
    font-weight:700;
    border:none;
    font-size:1rem;
    border-radius:3rem;
}
input::file-selector-button:hover{
    cursor:pointer;
}
.upload_notes button{
    padding:1rem 10rem;
    font-size:1rem;
    color:white;
    background-color: black;
    border:none;
    border-radius:3rem;
    font-weight:bolder;
}
.upload_notes button:hover{
    cursor:pointer;
}
.core_subjects{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:8rem;
}
.corebox{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:8rem;
    width:100%;
}
.content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    padding:3rem ;
    box-shadow: 10px 15px 30px black;
    width:30%;
}
.content img{
    width:50%;
}
.content a button{
    padding:0.7rem 7rem;
    background-color: black;
    color:white;
    font-weight:bolder;
    border:none;
    cursor:pointer;
    border-radius:3rem;
    font-size:1rem;
}
.feedback{
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap:8rem;
    width:100%;
}
.feed_image p{
    font-weight:700;
}
.feed_image{
    width:50%;
    text-align:center;
}
.feed_form{
    display:grid;
    place-items: center;
    width:40%;
    padding:3rem;
    gap:3rem;
}
.child{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    width:100%;
}
.child label{
    font-size:1.4rem;
    font-weight:bold;
    width:20%;
}
.child input{
    padding:0.8rem;
    width:85%;
    border-radius:10px;
    font-size:1.2rem;
}
textarea{
    width:100%;
    font-size:1rem;
    padding:1rem;
    border:2px solid black; 
    border-radius:1rem;
}
.feed_form button{
    padding:1em 4em;
    background-color: black;
    color:white;
    font-weight:bolder;
    border:none;
    cursor:pointer;
    border-radius:3rem;
    font-size:1rem;
    width:100%; 
}
#python{
    animation:1s ease 1 forwards none none moveRight;
    position:relative;
}
@keyframes moveRight {
    from{
        left:-20%;
    }
    to{
        left:100%;
    }
}
@media (max-width:450px){
    #heading{
        font-size:1.8rem;
        text-align: center;
    }
    .programming_lang , .corebox , .feedback{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        gap:2rem;
        width:100%;
    }
    .box , .content{
        width:100%;
        padding:10px;
    }
    .upload_notes , .upload_notes .menu_bar, .upload_notes .file_section{
        display:flex;
        justify-content: center;
        align-items: center;
        gap:2rem;
        flex-direction: column;
    }
    .upload_notes #heading{
        text-align: center;
        width:100%;
        font-size:1.8rem;
    }
    .upload_notes button{
        padding:1rem 8rem;
    }
    .feedback .feed_image img{
        width:100%;
    }
    .feedback .feed_image , .feedback .feed_form{
        width:100%;
    }
}